.sticky-header {
  width: 100%;
  background-color: #010025;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand-name {
  font-family: 'True Typewriter', monospace;
  font-size: 50px;
  color: white;
  margin-left: 0%;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-links a {
  text-align: center;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 8px;
}

.navbar-links a svg {
  margin-right: 10px;
}

.navbar-links a:hover {
  background-color: #282C34;
}

@media screen and (max-width: 768px) {
  .sticky-header {
    flex-direction: column;
  }

  .navbar-links {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links a {
    width: 100%;
    text-align: center;
  }
}
